<%= form_for(@message) do |form| %>
  <%= render "layouts/error_messages", obj: form.object %>
  <div class="message_form-container">
    <div class="field message_form-input-field">
      <%= form.text_area :body, placeholder: "Enter message here" %>
    </div>
    <div class="actions message_form-submit-btn">
      <%= form.submit "Send" %>
    </div>
  </div>
<% end %>